<br><br>
<br><br>
<br><br>
<p-messages></p-messages> 
<div class="grid flex align-items-center justify-content-center min-w-sc border-radius:2" >
    <div class="card p-fluid bg-bluegray-900" *ngIf="tipo == 'fotografia' || tipo == 'pintura' || tipo == 'grafiti' || tipo == 'tatuajes'">
        <div>
            <p-image src="{{serverPath}}{{publicacion.archivo}}" alt="Image" width="400" height="350" [preview]="true"></p-image>
        </div>
    </div>
    <div class="card flex p-fluid bg-bluegray-900 align-items-center justify-content-center" *ngIf="tipo == 'videos'">
        <vm-player controls>
            <vm-video cross-origin="true">
              <source data-src="{{serverPath}}{{publicacion.archivo}}" type="video/mp4"/>
            </vm-video>
        </vm-player>
    </div>
    <div class="card flex p-fluid bg-bluegray-900 align-items-center justify-content-center" *ngIf="tipo == 'musica'">
        <vm-player #player controls>
            <vm-video cross-origin="true">
              <source data-src="{{serverPath}}{{publicacion.archivo}}" type="audio/mp3"/>
            </vm-video>
        </vm-player>
        <vm-default-ui>
        </vm-default-ui>
    </div>
    <div class="col-7">
        <div class="grid flex card p-fluid justify-content-between">
            <div>
                <h2 style="font-family:'Oleo Script Swash Caps', cursive;"> Datos de la publicación:  </h2>
                <p> Artista: {{publicacion.nombre}}</p>
                <p> Titulo: {{publicacion.titulo}}</p>
                <p> Descripción: {{publicacion.descripcion}}</p>
                <p> fecha de publicación: {{publicacion.fecha}}</p>
                <p> Likes: {{publicacion.likes}}</p>
            </div>
            <div>
                <div>
                    <form [formGroup]="form" (ngSubmit)="agregar()">
                        <input type="text" pInputText placeholder="Coloque su correo" formControlName="correo"><br><br>
                        <textarea pInputTextarea [rows]="8" [cols]="20" [autoResize]="true" formControlName="comentario"></textarea>
                        <button pButton pRipple label="Agregar comentario" class="mr-2 mb-2 bg-bluegray-900" [disabled]="!form.valid"></button>
                    </form>
                    <button pButton pRipple label="Regresar"  class="mr-2 mb-2 bg-bluegray-900" (click) = "regresar()"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<p-table [value]="comentarios" responsiveLayout="scroll" *ngIf = "comentarios.length > 0">
    <ng-template pTemplate="header">
        <tr>
            <th>Fecha</th>
            <th>Comentario</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-comentario>
        <tr>
            <td>{{comentario.fecha}}</td>
            <td>{{comentario.comentario}}</td>
        </tr>
    </ng-template>
</p-table>
<div *ngIf = "comentarios.length == 0">
    <h3> No hay comentarios de momento </h3>
</div>

<router-outlet></router-outlet>
