<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="grid grid-nogutter surface-section text-800">
            <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
                <section>
                    <span class="block text-6xl font-bold mb-1" >Espacio para artistas guatemaltecos.</span>
                    <div class="text-6xl text-primary font-bold mb-3" style = "font-family:'Oleo Script Swash Caps', cursive;"> ¡Demuestra de lo que eres capaz y hazte a conocer! </div>
                </section>
            </div>
            <div class="col-12 md:col-6 overflow-hidden">
                <img src="assets/layout/images/preferible.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)" width="500" height="600">
            </div>
        </div>
    </div>
</div>
<p-divider align="left">
</p-divider>
<div class="bg-bluegray-900 flex justify-content-center min-w-screen overflow-hidden">
    <div class = "flex-row">
        <!-- Titulo -->
        <div class = "flex justify-content-center"> 
            <span style = "font-family:'Oleo Script Swash Caps', cursive;font-size: 70px;color: white;"> Artistas, ¿Que encontraran? </span>
        </div>
        <div class = "flex justify-content-center">
            <span style = "font-size: 20px;color: white;"> Te tomamos por un recorrido a la plataforma. </span>
        </div>
        <!-- Divisor de contenido -->
        <div class = "flex align-content-between" style="padding-top: 100px; padding-bottom: 100px;">
            <!-- Contenido izquierda -->
            <div class = "flex align-items-center"> 
                <div style = "padding-right: 100px;">
                    <span style = "font-family:'Oleo Script Swash Caps', cursive;font-size: 70px;color: white;"> Nuestro menu. </span>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: white;"> Luego de registrarte. Puedes navegar por estas opciones </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: white;"> en el menu del lado izquierdo. </span>
                    </div>
                </div>
            </div>
            <!-- Contenido derecha -->
            <div class = "flex align-items-cente">
                <div>
                    <img src="assets/demo/images/tutorial/menu.png" style="border-radius: 5%;" width="300" height="250">
                </div>
            </div>
        </div>
    </div>
</div>
<p-divider align="left">
</p-divider>
<!-- Editar perfil -->
<div class="surface-0 flex justify-content-center min-w-screen overflow-hidden">
    <div class = "flex-row">
        <!-- Titulo -->
        <div class = "flex justify-content-center"> 
            <span style = "font-family:'Oleo Script Swash Caps', cursive;font-size: 70px;color: black;"> Edita tu perfil </span>
        </div>
        <div class = "flex justify-content-center">
            <span style = "font-size: 20px;color: black;"> En la sección de "Editar perfil" en el menu. </span>
        </div>
        <!-- Divisor de contenido -->
        <div class = "flex align-content-between justify-content-center" style="padding-top: 100px; padding-bottom: 100px;">
            <!-- Contenido izquierda -->
            <div class = "flex align-items-center"> 
                <div style = "padding-right: 100px;">
                    <span style = "font-family:'Oleo Script Swash Caps', cursive;font-size: 70px;color: black;"> Datos personales </span>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> Puedes ingresar un numero de telefono, tu </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> fecha de nacimiento y una descripción para </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> tu perfil. </span>
                    </div>
                </div>
            </div>
            <!-- Contenido derecha -->
            <div class = "flex align-items-cente">
                <div>
                    <img src="assets/demo/images/tutorial/editarp1.png" style="border-radius: 5%;" width="400" height="350">
                </div>
            </div>
        </div>
        <!-- Divisor de contenido -->
        <div class = "flex align-content-between justify-content-center" style="padding-top: 100px; padding-bottom: 100px;">
            <!-- Contenido izquierda -->
            <div class = "flex align-items-center"> 
                <div style = "padding-right: 100px;">
                    <span style = "font-family:'Oleo Script Swash Caps', cursive;font-size: 70px;color: black;"> ¿Donde te encuentras? </span>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> Puedes agregar una locación si tienes </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> un local o estudio. Los demas veran en un </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> mapa con tu ubicación ingresada. </span>
                    </div>
                </div>
            </div>
            <!-- Contenido derecha -->
            <div class = "flex align-items-cente">
                <div>
                    <img src="assets/demo/images/tutorial/ubicacion.png" style="border-radius: 5%;" width="400" height="300">
                </div>
            </div>
        </div>
        <!-- Divisor de contenido -->
        <div class = "flex align-content-between justify-content-center" style="padding-top: 100px; padding-bottom: 100px;">
            <!-- Contenido izquierda -->
            <div class = "flex align-items-center"> 
                <div style = "padding-right: 100px;">
                    <span style = "font-family:'Oleo Script Swash Caps', cursive;font-size: 70px;color: black;"> ¡Presentate! </span>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> Puedes elegir una foto de perfíl. Puede </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> ser una foto tuya o tu propio logo. </span>
                    </div>
                </div>
            </div>
            <!-- Contenido derecha -->
            <div class = "flex align-items-cente">
                <div>
                    <img src="assets/demo/images/tutorial/fotoperfil.png" style="border-radius: 5%;" width="500" height="260">
                </div>
            </div>
        </div>
    </div>
</div>
<p-divider align="left">
</p-divider>
<!-- Ver perfil -->
<div class="bg-bluegray-900 flex justify-content-center min-w-screen overflow-hidden">
    <div class = "flex-row">
        <!-- Titulo -->
        <div class = "flex justify-content-center"> 
            <span style = "font-family:'Oleo Script Swash Caps', cursive;font-size: 70px;color: white;">¡Revisa tu perfil! </span>
        </div>
        <div class = "flex justify-content-center">
            <span style = "font-size: 20px;color: white;"> En la sección de "Ver perfil" en el menu puedes visualizar la información desplegada a los usuarios. </span>
        </div>
        <!-- Divisor de contenido -->
        <div class = "flex align-content-between justify-content-center" style="padding-top: 100px; padding-bottom: 100px;">
            <!-- Contenido izquierda -->
            <div class = "flex align-items-center"> 
                <div style = "padding-right: 100px;">
                    <div class = "flex justify-content-center">
                        <span style = "font-family:'Oleo Script Swash Caps', cursive;font-size: 70px;color: white;"> Tu carta de presentación. </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: white;"> Se despliega toda tu información de la sección de  </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: white;"> "Editar perfil" 🚹. </span>
                    </div>
                </div>
            </div>
            <!-- Contenido derecha -->
            <div class = "flex align-items-center">
                <div>
                    <img src="assets/demo/images/tutorial/perfil2.png" style="border-radius: 2%;" width="600" height="350">
                </div>
            </div>
        </div>
        <!-- Divisor de contenido -->
        <div class = "flex align-content-between justify-content-center" style="padding-top: 100px; padding-bottom: 100px;">
            <!-- Contenido izquierda -->
            <div class = "flex align-items-center"> 
                <div style = "padding-right: 100px;">
                    <div class = "flex justify-content-center">
                        <span style = "font-family:'Oleo Script Swash Caps', cursive;font-size: 70px;color: white;"> ¡Recibe donaciones! </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: white;"> Las personas pueden dejarte donaciones para  </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: white;"> apoyar tu talento 💵. </span>
                    </div>
                </div>
            </div>
            <!-- Contenido derecha -->
            <div class = "flex align-items-center">
                <div>
                    <img src="assets/demo/images/tutorial/donacion.png" style="border-radius: 2%;" width="350" height="600">
                </div>
            </div>
        </div>
    </div>
</div>
<p-divider align="left">
</p-divider>
<!-- Subir contenido -->
<div class="surface-0 flex justify-content-center min-w-screen overflow-hidden">
    <div class = "flex-row">
        <!-- Titulo -->
        <div class = "flex justify-content-center"> 
            <span style = "font-family:'Oleo Script Swash Caps', cursive;font-size: 70px;color: black;"> ¿Como subir tu contenido? </span>
        </div>
        <div class = "flex justify-content-center">
            <span style = "font-size: 20px;color: black;"> En la sección de "Subir contenido" tienes todas las opciones. </span>
        </div>
        <!-- Divisor de contenido -->
        <div class = "flex align-content-between" style="padding-top: 100px; padding-bottom: 100px;">
            <!-- Contenido izquierda -->
            <div class = "flex align-items-center"> 
                <div style = "padding-right: 100px;">
                    <div class = "flex justify-content-center">
                        <span style = "font-family:'Oleo Script Swash Caps', cursive;font-size: 70px;color: black;"> ¡Sube tu arte! </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> ¡Puedes publicar fotos, videos y musica! 🖌️ </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> Solo selecciona bajo que categoria subiras tu archivo.   </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> para este ejemplo, se subiria a la categoria de fotografia.  </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> de fotografia.  </span>
                    </div>
                </div>
            </div>
            <!-- Contenido derecha -->
            <div class = "flex align-items-center">
                <div>
                    <img src="assets/demo/images/tutorial/subirarchivo.png" style="border-radius: 5%;" width="500" height="250">
                </div>
            </div>
        </div>
    </div>
</div>
<p-divider align="left">
</p-divider>
<!-- Subir contenido -->
<div class="bg-bluegray-900 flex justify-content-center min-w-screen overflow-hidden">
    <div class = "flex-row">
        <!-- Titulo -->
        <div class = "flex justify-content-center"> 
            <span style = "font-family:'Oleo Script Swash Caps', cursive;font-size: 70px;color: white;"> ¿Donde estan tus publicaciones? </span>
        </div>
        <div class = "flex justify-content-center">
            <span style = "font-size: 20px;color: white;"> Si es una imagen valida. Aparecera en la página principal bajo la categoria que elegiste. </span>
        </div>
        <!-- Divisor de contenido -->
        <div class = "flex align-content-between" style="padding-top: 100px; padding-bottom: 100px;">
            <!-- Contenido izquierda -->
            <div class = "flex  align-items-center"> 
                <div style = "padding-left: 150px;">
                    <span style = "font-family:'Oleo Script Swash Caps', cursive;font-size: 70px;color: white;"> Formato de tu publicación. </span>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: white;"> Tu publicación aparece en orden aleatorio para promover </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: white;"> el arte de los demas y el tuyo. Aparecera tu nombre, un titulo que </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: white;"> elijas, una descripción automatica generada por <span style = "font-size: 30px;color: #6366F1;font-weight: bolder;"> IA </span>,</span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: white;"> los likes de la publicación, un botón para ver los comentarios recibidos, </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: white;"> y un boton para likes 👍🏻. </span>
                    </div>
                </div>
            </div>
        </div>
        <div class = "flex align-items-center" style="padding-bottom: 100px;">
            <div>
                <img src="assets/demo/images/tutorial/publicacion.png"  width="1000" height="300">
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<p-divider align="left">
</p-divider>

<div class="surface-0 flex justify-content-center min-w-screen overflow-hidden">
    <div class = "flex-row">
        <!-- Titulo -->
        <div class = "flex justify-content-center"> 
            <span style = "font-family:'Oleo Script Swash Caps', cursive;font-size: 70px;color: black;"> Mira tu propio contenido. </span>
        </div>
        <div class = "flex justify-content-center">
            <span style = "font-size: 20px;color: black;"> En la sección de "Contenido" apareceran todas tus publicaciones para editarlas o ver los comentarios.</span>
        </div>
        <!-- Divisor de contenido -->
        <div class = "flex align-content-between justify-content-center" style="padding-top: 100px; padding-bottom: 100px;">
            <!-- Contenido izquierda -->
            <div class = "flex align-items-center"> 
                <div style = "padding-right: 100px;">
                    <div class = "flex justify-content-center">
                        <span style = "font-family:'Oleo Script Swash Caps', cursive;font-size: 70px;color: black;"> Revisa tus publicaciones. </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> Apareceran todas tus publicaciones por categoria.  </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> Podras cambiar cambiar el titulo de tus publicaciones.   </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> El boton de comentarios te mostrara la seccion de comentario. 🤳🏻   </span>
                    </div>
                </div>
            </div>
            <!-- Contenido derecha -->
            <div class = "flex align-items-center">
                <div>
                    <img src="assets/demo/images/tutorial/Contenido.png"  width="600" height="250">
                </div>
            </div>
        </div>
        <div class = "flex align-content-between justify-content-center" style="padding-top: 100px; padding-bottom: 100px;">
            <!-- Contenido izquierda -->
            <div class = "flex align-items-center"> 
                <div style = "padding-right: 100px;">
                    <div class = "flex justify-content-center">
                        <span style = "font-family:'Oleo Script Swash Caps', cursive;font-size: 70px;color: black;"> Reacciones. </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> Al iniciar aparecera un resumen de tu publicación. Mediante   </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> <span style = "font-size: 30px;color: #6366F1;font-weight: bolder;"> IA </span> podemos identificar como hizo sentir en promedio  </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> tu publicacion a las personas que te dejaron un comentario. </span>
                    </div>
                </div>
            </div>
            <!-- Contenido derecha -->
            <div class = "flex align-items-center">
                <div>
                    <img src="assets/demo/images/tutorial/resumen.png"  width="700" height="280">
                </div>
            </div>
        </div>
        <div class = "flex align-content-between justify-content-center" style="padding-top: 100px; padding-bottom: 100px;">
            <!-- Contenido izquierda -->
            <div class = "flex align-items-center"> 
                <div style = "padding-right: 100px;">
                    <div class = "flex justify-content-center">
                        <span style = "font-family:'Oleo Script Swash Caps', cursive;font-size: 70px;color: black;"> Comentarios. </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> En la parte de abajo puedes ver todos los comentarios   </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> e inspeccionar que emociones se obtuvieron   </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> de cada comentario. Puedes ver los correos de quienes  </span>
                    </div>
                    <div class = "flex justify-content-center">
                        <span style = "font-size: 20px;color: black;"> dejaron un comentario para contactarlos </span>
                    </div>
                </div>
            </div>
            <!-- Contenido derecha -->
            <div class = "flex align-items-center">
                <div>
                    <img src="assets/demo/images/tutorial/emociones.png" width="600" height="240">
                </div>
            </div>
        </div>
    </div>
</div>